<h1>Map of player 1</h1>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}
th, td {
  padding: 10px;
  text-align: centre;
}
</style>
</head>
<table style="width:50%">	<tr>
		<td> ? </td>
		<td> ? </td>
		<td> ? </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
	<tr>
		<td> ? </td>
		<td> ? </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
	<tr>
		<td> ? </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
	<tr>
		<td> ? </td>
		<td> ? </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
		<td style="background-color:green;color:white;"> - </td>
	<tr>
		<td> ? </td>
		<td> ? </td>
		<td> ? </td>
		<td> ? </td>
		<td> ? </td>
