<table style="width:10%;height: 20%;text-align:left;background-color:grey;">
	<tr>
		<th> ? </th>
		<th> ? </th>
	</tr>
	<tr>
		<td> ? </td>
		<td style="background-color:green;color:white;"> ? </td>
	</tr>
	<tr>
		<td> ? </td>
		<td> ? </td>
	</tr>